table, td {
	border: 1px solid black;
	text-align: center;
}

p, h3, h4 {
	text-align: center;
}

.center {
	display: flex;
	margin-left:auto;
	margin-right: auto;
	width: 240px;
	height: 300px;
}

table#table1 {
	width:70%;
	margin-left:15%;
	margin-right:15%;
}

.easyReadSeperater {
	background-color: #BCBCBC;
}

